*{
    margin: 0px;
    padding: 0px;
}
.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 1500px; */
}
.home__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    /* margin-left: 5px;
    margin-right: 5px; */
}
.home__row{
    display: flex;
    z-index: 2;
    
}
.home__image {
    width: 100%;
    z-index: -2;
    margin-bottom: -410px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
